# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# Compiles resources
/web/css/compiled/
/web/js/compiled/

# Mac & IDE stuff
.DS_Store
.idea/