{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}terrific.io{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span4">
            {{ tc.module('Editor', 'html', null, ['editor'])}}
        </div>
        <div class="span4">
            {{ tc.module('Editor', 'css', null, ['editor'])}}
        </div>
        <div class="span4">
            {{ tc.module('Editor', 'js', null, ['editor'])}}
        </div>
    </div>
    <div class="row">
        {{ tc.module('Preview', 'preview', null, ['editor'], { 'tag' : 'iframe'}) }}
    </div>
</div>
{% endblock %}
