@import "../../../../../../Terrific/Composition/Resources/public/css/import.less";

/* @group module: toolbar */

@media screen {
    .mod-toolbar {
        position: fixed;
        top: 100px;
        left: -8px;
        display: inline-block;
        .vertical-gradient(@wafer, @silver-rust);
        .border-radius(8px);
        box-shadow: 0 1px 0 rgba(183, 176, 170, 0.8), /* shadow */ 0 -1px 0 @white; /* highlight */
        z-index: 11;

        li {
            position: relative;
            padding-left: 8px;
            border-top: 1px dashed @white;
        }

        li:first-child {
            border-top: none;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 10/14em;
            color: @friar-gray;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8), /* shadow */ 0 1px 0 rgba(255, 255, 255, 0.5); /* highlight */
        }

        i {
            opacity: 0.7;
            font-size: 32/14em;
            line-height: 32/32em;
            vertical-align: bottom;
        }

        a:hover {
            background: @silver-rust;
        }

        a:active, a.active {
            background: @wafer;
            color: @dodger-blue;
            text-shadow: 0 -1px 0 rgba(132, 131, 129, 0.8), /* shadow */ 0 1px 0 rgba(255, 255, 255, 0.5); /* highlight */
        }

        li:first-child a {
            .border-radius(0 8px 0 0);
        }

        li:last-child a {
            .border-radius(0 0 8px 0);
        }

        .tt {
            position: absolute;
            display: none;
            text-transform: uppercase;
            white-space: nowrap;

            i {
                font-size: 1em;
            }
        }

        a:hover .tt {
            display: block;
        }
    }
}

/* @end */
