{% raw %}
<script id="mod-preview" type="text/x-dot-template">
<div class="divider">
    <div class="header"><i class="icon-handle"> </i></div>
    <iframe allowtransparency="true" frameborder="0" scrolling="no">
        <!doctype html>
        <html>
        <head></head>
        <body></body>
        </html>
    </iframe>
</div>
</script>
{% endraw %}