{% raw %}
<script id="mod-preview" type="text/x-dot-template">
<iframe allowtransparency="true" frameborder="0" scrolling="no">
    <!doctype html>
    <html>
    <head></head>
    <body></body>
    </html>
</iframe>
</script>
{% endraw %}