{% raw %}
<script id="mod-toolbar" type="text/x-dot-template">
<ul>
    <li>
        <a href="#markup"><i class="icon-html5"></i><div class="tt"><i class="icon-cloud"></i><span>Markup</span></div></a>
    </li>
    <li>
        <a href="#style"><i class="icon-css3"></i><div class="tt"><i class="icon-cloud"></i><span>Styles</span></div></a>
    </li>
    <li>
        <a href="#script"><i class="icon-js"></i><div class="tt"><i class="icon-cloud"></i><span>Scripts</span></div></a>
    </li>
    <li>
        <a href="#preview"><i class="icon-eye"></i><div class="tt"><i class="icon-cloud"></i><span>Preview</span></div></a>
    </li>
</ul>
</script>
{% endraw %}