{% raw %}
<script id="mod-editor-markup" type="text/x-dot-template">
    <div class="settings">
    </div>
    <code class="editor"></code>
</script>

<script id="mod-editor-style" type="text/x-dot-template">
    <div class="settings">
        <h3>Precompilers</h3>
        <ul class="precompilers">
            <li><a href="#text/css">None</a></li>
            <li><a href="#text/x-less">Less</a></li>
        </ul>
    </div>
    <code class="editor"></code>
</script>

<script id="mod-editor-script" type="text/x-dot-template">
    <div class="settings">
    </div>
    <code class="editor"></code>
</script>
{% endraw %}