/* @group module: preview */

@media all {

}

@media print {

}

@media screen {
    .mod-preview {
        margin: 1em 30/16em 1em 100/16em;

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}
/* @end */
