<!doctype html>
<html>
<head>
    <title>{{ module.title }}, preview</title>
    <style>
        {{ module.style.compiled | raw }}
    </style>
</head>
<body>
{{ module.markup.compiled | raw }}
<script>
    {{ module.script.compiled | raw }}
</script>
</body>
</html>