<!doctype html>
<html>
<head>
    <title>{{ module.title }}, preview</title>
    <style>
        {{ module.style.code | raw }}
    </style>
    <script>
        {{ module.script.code | raw }}
    </script>
</head>
<body>
{{ module.markup.code | raw }}
</body>
</html>