@import "../../../../../../Terrific/Composition/Resources/public/css/import.less";

/* @group module: editor */

@media all {

}

@media print {

}

@media screen {
    .mod-editor {
      margin: 20/16em 0;
      font-size: 16px;
      line-height: 24/16em;
      text-shadow: white 0px 1px 0px;
    }
}
/* @end */
