@import "../../../../../../Terrific/Composition/Resources/public/css/import.less";

/* @group module: editor */

@media all {

}

@media print {

}

@media screen {
    .mod-editor {
      position: relative;
      margin: 20/16em 0 20/16em 100/16em;
      padding-right: 30/16em;
      z-index: 1;

      .editor {
          font-size: 14px;
          line-height: 18/14em;
          text-shadow: white 0px 1px 0px;
      }
    }
}
/* @end */
